.title-bar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    height: 30px;
    /* height: 500px; */
    padding-top: 5px;
    padding-bottom: 1px;
    width: 100vw;
    /* flex-grow: 1; */
    /* background-color: rgba(55, 55, 80, 10); */
    background-color: rgba(96, 125, 139, 0.3);
    color: darkcyan;
    /* fill: blur(1.5rem); */
  }

.title-bar-left {
  flex-grow: 1;
}

.title-bar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title-bar-right {
  display: inline-block;
  text-align: right;
  flex-grow: 1;
  padding-right: 5px;
}

.title-bar-right > button {
  -webkit-app-region: no-drag;
  width: 20px;
  height: 20px;
  text-align: center;
  outline: none;
  border: none;
}

.title-bar-right > button > img {
  width: 10px;
  height: 10px;
  margin: 0 1px 5px 0;
}
